*.o
*.l?
*.in
*~
#*#
.deps
Makefile
aclocal.m4
autom4te.cache
build-tools
config.h
config.log
config.status
configure
qr-symmv
ridgebayes
ridgeclassexport
ridgeclassstat
ridgeconv
ridgecull
ridgetool
scalespacegen
show-tiff
stamp-h1
xridgeclass
libtool
libridgetool.pc
INSTALL
